@import "normalize";
@import "variables";

html {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary-text);
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #FFF;
  text-rendering: optimizeLegibility;
}
