:root {
  --primary: #1B2452;
  --secondary: #3E5BFF;

  --error: #F25959;
  --warning: #F2B559;
  --success: #4BB73A;

  --primary-text: #FFF;
  --secondary-text: #191C27;

  --disabled: #D1D1D6;

  --modal-bc: #FFF;

  --border: #D1D1D6;
}
