:root {
  --primary: #1B2452;
  --secondary: #3E5BFF;

  --error: #F25959;
  --error-dark: #E44444;
  --warning: #F2B559;
  --success: #4BB73A;

  --primary-text: #FFF;
  --secondary-text: #191C27;

  --central-point: #191C27;
  --middle-points: #C3C3C3;
  --edge-points: #D1D1D6;

  --disabled: #D1D1D6;

  --modal-bc: 25, 28, 39; /* rgb representation of #191C27 */
  --modal-fill: #FFF;

  --border: #D1D1D6;
}
